menu "Process"

config PROCESS_MAX_CMD_LEN
    int "Max length for the command line value saved in the pcb"
    default 64

config PROCESS_MAX_NAME_LEN
    int "Max length for the process name"
    default 16

config PROCESS_MAX_CONCURRENT_PROCS
    int "Max number of concurrent processes allowed in the system"
    default 64

config PROCESS_MAX_OPEN_FILES
    int "Max number of open files"
    default 16

config PROCESS_INIT_STACK_SIZE
    int "Init process stack size"
    default 8196

config PROCESS_IDLE_STACK_SIZE
    int "Idle process stack size"
    default 8196

menu "Health monitor"

config PROCESS_HEALTH_CHECK_INTERVAL
    int "Time in seconds between system health checks"
    default 30

config PROCESS_HEALTH_AVAIL_HEAP_WARNING_THRESHOLD
    int "% of available heap at which to trigger a warning"
    default 30

config PROCESS_HEALTH_AVAIL_PROC_STACK_WARNING_THRESHOLD
    int "% of available process stack at which to trigger a warning"
    default 30

endmenu

endmenu
