menu "Component"

config TEST_CORE_COMPONENT_ALL
    bool "Select all"
    default n
    select TEST_CORE_COMPONENT_TICKER
    select TEST_CORE_COMPONENT_VRTIMER
    select TEST_CORE_COMPONENT_CPU

config TEST_CORE_COMPONENT_TICKER
    bool "ticker.c"
    default n

config TEST_CORE_COMPONENT_VRTIMER
    bool "vrtimer.c"
    default n

config TEST_CORE_COMPONENT_CPU
    bool "cpu.c"
    default n

endmenu
