# SPDX-License-Identifier: GPL-2.0
#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.rst.
#
mainmenu "laritOS/$(ARCH) $(KERNELVERSION) Configuration"

source "scripts/Kconfig.include"

source "board/Kconfig"
source "arch/Kconfig"
source "kernel/Kconfig"
