menu "Memory Manager"

config MEM_HEAP_SIZE
    int "OS heap size (bytes)"
    default 16777216 # 16MB

choice
    prompt "Manager"
    default MM_FREELIST

config MM_FREELIST
    bool "Simple freelist memory manager"

endchoice

endmenu
