menu "Scheduler"

config SCHED_PRIORITY_MAX_KERNEL
    int "Maximum priority for a kernel process"
    default 0

config SCHED_PRIORITY_MAX_USER
    int "Maximum priority for a user process"
    default 64

config SCHED_PRIORITY_LOWEST
    int "Lowest priority"
    default 255

config SCHED_PRIORITY_USER_DEFAULT
    int "Default priority for new user processes"
    default 100

endmenu
