menu "Kernel"

menu "Components"

config MAX_COMPONENTS
    int "Max number of components supported by laritOS"
    default 32

endmenu

menu "Logging"

menu "Log level"

config LOG_LEVEL_ERROR
    bool "ERROR"
    default y

config LOG_LEVEL_WARN
    bool "WARN"
    select LOG_LEVEL_ERROR

config LOG_LEVEL_INFO
    bool "INFO"
    select LOG_LEVEL_WARN

config LOG_LEVEL_DEBUG
    bool "DEBUG"
    select LOG_LEVEL_INFO

config LOG_LEVEL_VERBOSE
    bool "VERBOSE"
    select LOG_LEVEL_DEBUG

endmenu

config LOG_MAX_LINE_SIZE
    int "Max number of character per log line (longer messages will be truncated)"
    default 128

config LOG_BUFSIZE_BYTES
    int "Log buffer size in bytes"
    default 2048

config LOG_FILE_AND_LINEN
    bool "Log file path and line number"
    default n

endmenu

menu "Debugging"

config DEBUG_INFO
    bool "Add debugging info"
    default y

config CC_DISABLE_OPTIMIZATIONS
    bool "Disable optimizations"
    default y

endmenu

menu "Benchmarking"

config STACK_USAGE
    bool "Output stack usage info on a per-function basis"
    default n

endmenu
endmenu
