menu "Drivers"

source "drivers/intc/Kconfig"
source "drivers/uart/Kconfig"
source "drivers/rtc/Kconfig"
source "drivers/cpu/Kconfig"
source "drivers/timer/Kconfig"
source "drivers/logger/Kconfig"
source "drivers/input/Kconfig"

endmenu
