menu "File system"

config TEST_CORE_FS_ALL
    bool "Select all"
    default n
    select TEST_CORE_FS_VFS_ALL
    select TEST_CORE_FS_PSEUDOFS

source "test/tests/core/fs/vfs/Kconfig"

config TEST_CORE_FS_PSEUDOFS
    bool "pseudofs.c"
    default n

endmenu
