menu "Utils"

config TEST_CORE_UTILS_ALL
    bool "Select all"
    default n
    select TEST_CORE_UTILS_MATH
    select TEST_CORE_UTILS_LATENCY
    select TEST_CORE_UTILS_RANDOM_LCG
    select TEST_CORE_UTILS_SYMBOL

config TEST_CORE_UTILS_MATH
    bool "math.c"
    default n

config TEST_CORE_UTILS_LATENCY
    bool "latency.c"
    default n

config TEST_CORE_UTILS_RANDOM_LCG
    bool "random-lcg.c"
    default n

config TEST_CORE_UTILS_SYMBOL
    bool "symbol.c"
    default n

endmenu
