menu "Synchronization"

config TEST_CORE_SYNC_ALL
    bool "Select all"
    default n
    select TEST_CORE_SYNC_SEMAPHORE
    select TEST_CORE_SYNC_ATOMIC
    select TEST_CORE_SYNC_RMUTEX

config TEST_CORE_SYNC_SEMAPHORE
    bool "semaphore.c"
    default n

config TEST_CORE_SYNC_RMUTEX
    bool "rmutex.c"
    default n

config TEST_CORE_SYNC_ATOMIC
    bool "atomic.c"
    default n

endmenu
