CONFIG_SYS_BOARD="qemu-arm-virt"
CONFIG_BOARD_QEMU_ARM_VIRT=y
CONFIG_ARM=y
CONFIG_ARMV7_A=y
CONFIG_CPU_32_BITS=y
CONFIG_SYS_CPU_CORTEX_A15=y
CONFIG_CPU_LITTLE_ENDIAN=y

CONFIG_SMP=y
CONFIG_CPU_MAX_CPUS=4

CONFIG_SYS_FLASH_BASE=0x00000000
CONFIG_SYS_FLASH_SIZE=0x1000000000
CONFIG_SYS_RAM_BASE=0x40000000
CONFIG_SYS_RAM_SIZE=0x40000000

CONFIG_INTC_ARM_GICV2=y
CONFIG_UART_ARM_PL011=y
CONFIG_RTC_ARM_PL031=y
CONFIG_TIMER_ARM_V7_GENERIC=y

CONFIG_FS_SYSTEM_IMAGE_OFFSET=1048576
CONFIG_FS_SYSTEM_IMAGE_SIZE=10
