CONFIG_SYS_BOARD="qemu-aarch64-virt"
CONFIG_BOARD_QEMU_AARCH64_VIRT=y
CONFIG_AARCH64=y
CONFIG_SYS_CPU_CORTEX_A15=y

CONFIG_SYS_FLASH_BASE=0x00000000
CONFIG_SYS_FLASH_SIZE=0x1000000000
CONFIG_SYS_RAM_BASE=0x40000000
CONFIG_SYS_RAM_SIZE=0x40000000