CONFIG_BOARD_QEMU_ARM_VIRT=y

CONFIG_ARM=y
CONFIG_ARMV7_A=y
CONFIG_SYS_CPU_CORTEX_A15=y
CONFIG_CPU_LITTLE_ENDIAN=y

CONFIG_SYS_FLASH_BASE=0x00000000
CONFIG_SYS_FLASH_SIZE=0x1000000000
CONFIG_SYS_RAM_BASE=0x40000000
CONFIG_SYS_RAM_SIZE=0x40000000