menu "Core"

config TEST_CORE_ALL
    bool "Select all"
    default n
    select TEST_CORE_LIBC_ALL
    select TEST_CORE_MM_ALL
    select TEST_CORE_DSTRUCT_ALL
    select TEST_CORE_COMPONENT_ALL
    select TEST_CORE_TIME_ALL
    select TEST_CORE_PROCESS_ALL
    select TEST_CORE_SYNC_ALL
    select TEST_CORE_IRQ_ALL

source "test/tests/core/libc/Kconfig"
source "test/tests/core/mm/Kconfig"
source "test/tests/core/dstruct/Kconfig"
source "test/tests/core/component/Kconfig"
source "test/tests/core/time/Kconfig"
source "test/tests/core/process/Kconfig"
source "test/tests/core/sync/Kconfig"
source "test/tests/core/irq/Kconfig"

endmenu
